* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --accent:#fa8072;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    line-height:1.5;
}

html {
    scroll-behavior: smooth;
}

/*ANCHOR SCROLL TO*/

h3 { 
    position:relative;
 }

h3 span { 
    position:absolute; 
    top:-100px;
}


/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    background-color:black;
    color:#fff;
    height:80px;
    align-items: center;
    position:fixed;
    width:100%;
    z-index: 1;
}
header h1 {
    background-color: var(--accent);
    padding:10px 10px 10px 50px;
}

.main-menu li {
    display:inline-block;
    text-transform: uppercase;
    font:100;
    font-size:14px;
    padding:0 20px;
    letter-spacing: 0.2em;
    position:relative;
}


.main-menu li a {
    color:#ffffff;
    text-decoration:none;
}

.main-menu li:hover a:after {
    content: ""; /* This section animates the hover.*/
    display:block;
    position:absolute;
    top:10px;
    border-radius: 50%;
    background-color: var(--accent);
    width:12px;
    height:12px;
    animation:infinite;
    animation-name: slide;
    animation-duration: 3s;
    z-index: -1;
}
@keyframes slide {
    0% {
        left:0;
        transform:translateX(0);
    }
    100% {
        left:90%;
        transform:translateX(-100%);
    }
}

/* Testing navigation underline on hover

li a:hover {
    background: 
    linear-gradient(to right, #fa8072, #fa8072);
    background-size: 100% 0.5em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    animation: bgmve 2s infinite;
}
@keyframes bgmve {
    to {background-position:0 0}
}
*/


.main-menu ul {
    height: 20px; /*Keeps from moving up when hovered*/
    margin:20px 0;
}





/*HERO
Adds hero background image. Positions Subtitle.*/

.hero {
    height:400px;
    background-image: url(/assets/images/coding-portfolio-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 20px 0;
}

.hero h2 {
    color:white;
    background-color: var(--accent);
    padding:15px;
}

/*LAYOUT*/

main {
    padding: 80px 20px 40px 0;
}
section { /*change to class .row?*/
    display: flex;
}
aside {
    border-right: 2px solid black;
    flex:1;
}
aside h3 {
    text-align: right;
    padding-right:20px;
    font-size:2.5em;
    font-weight:900;
    text-transform: lowercase;
}
.right-content {
    flex:3;
    padding: 0 0px 20px 20px;
}

/*WORK*/
.projects {
    display:flex;
    flex-wrap:wrap;
    gap: 30px;
}
/*.projects article {
    padding:10px;
    /*Try with gap property instead.
}*/
article:first-child {
    width:100%;
}
article:not(:first-child) {
    flex:1 0 400px;
}
img {
    width:100%;
    height:auto;
}
article h4 {
    color: var(--accent);
}

/*POSITIONING OF PROJECT TITLE*/


article {
    position: relative;
}
article img {
    border-radius:40px;
    box-shadow:15px 15px 40px #00000063;
}


/*TESTING IMAGE OVERLAY*/

.overlay {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
    border-radius:40px;
	transition: opacity 0.25s;
}
.overlay:hover {
    background: rgba(0, 0, 0, 0.2);
}







article h4 {
    position:absolute;
    bottom:50px;
    background-color: var(--accent);
    color:#ffffff;
    padding: 10px 20px 10px 30px;
    border-radius: 0px 30px 30px 0;
}

/*CONTACT*/
.right-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*MEDIA QUERY*/
@media screen and (max-width:768px) {

    section {
        flex-direction: column;
    }
    aside {
        border-right:none;
    }
    aside h3 {
        text-align: left;
        padding-left:25px;
    }
    .main-menu {
        display:none;
    }
    .hero {
        background-position: inherit;
    }

    /*Mobile Menu*/
    #mobileMenuToggle {
    display: block;
    position: relative;
    top: 0; /*Position of the menu icon.*/
    left: -20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }
    
    #mobileMenuToggle a {
    text-decoration: none;    
    transition: color 0.3s ease;
    }

    #mobileMenuToggle a:hover {
    color: var(--accent);
    }

    #mobileMenuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #mobileMenuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px; 
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #mobileMenuToggle span:first-child {
    transform-origin: 0% 0%;
    }

    #mobileMenuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #mobileMenuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--accent);
    }

    /*
    * But let's hide the middle one.
    */
    #mobileMenuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #mobileMenuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #mobileMenuNav {
    position: absolute;
    width: 300px;
    margin: 25px 0 0 55px;
    padding: 60px;
    padding-top: 100px;
    text-align:right;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #mobileMenuNav li {
    padding: 10px 0;
    font-size: 22px;

    }
    #mobileMenuNav a {
        color:#ffffff;
    }

    /*
    * And let's slide it in from the left
    */
    #mobileMenuToggle input:checked ~ ul {
    transform: none;
    }
}



@media screen and (min-width:769px) {
    .mobile-menu {
        display:none;
    }
}