* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    line-height:1.5;
}
/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    background-color:black;
    color:#fff;
    height:80px;
    align-items: center;
    position:fixed;
    width:100%;
    z-index: 1;
}
header h1 {
    background-color:#fa8072;
    padding:10px 10px 10px 50px;
}

li {
    display:inline-block;
    text-transform: uppercase;
    font:100;
    font-size:14px;
    padding:0 20px;
    letter-spacing: 0.2em;
}
li a {
    color:#ffffff;
    text-decoration:none;
}
ul {
    height: 20px; /*Keeps from moving up when hovered*/
    margin:20px 0;
}

/*ADD MENU ITEM UNDERLINE ON HOVER

li a:hover {
}
*/

/*HERO
Adds hero background image. Positions Subtitle.*/

.hero {
    height:400px;
    background-image: url(/assets/images/coding-portfolio-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 20px 0;
}

.hero h2 {
    color:white;
    background-color:#fa8072;
    padding:15px;
}

/*LAYOUT*/

main {
    padding: 80px 20px 40px 0;
}
section {
    display: flex;
}
aside {
    border-right: 2px solid black;
    flex:1;
}
aside h3 {
    text-align: right;
    padding-right:20px;
    font-size:3em;
    font-weight:900;
    text-transform: uppercase;
}
.right-content {
    flex:3;
    padding: 0 0px 20px 20px;
}

/*WORK*/
.projects {
    display:flex;
    flex-wrap:wrap;
}
.projects article {
    padding:10px;
}
article:first-child {
    width:100%;
}
article:not(:first-child) {
    flex:1 0 400px;
}
img {
    width:100%;
    height:auto;
}
article h4 {
    color:coral;
}

/*POSITIONING OF PROJECT TITLE*/


article {
    position: relative;
}
article h4 {
    position:absolute;
    bottom:50px;
}

/*CONTACT*/
.right-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*MEDIA QUERY*/
@media screen and (max-width:768px) {

    section {
        flex-direction: column;
    }
    aside h3 {
        text-align: left;
    }
}
