* {
    margin:0;
    padding:0;
}
/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    background-color:black;
    color:#fff;
    height:80px;
    align-items: center;
}
li {
    display:inline-block;
}

/*SUBTITLE*/
.subtitle {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

/*LAYOUT*/
section {
    display: flex;
}
aside {
    border-right: 2px solid black;
    flex:1;
}
aside h3 {
    text-align: right;
}
.right-content {
    flex:3;
}

/*WORK*/
.projects {
    display:flex;
    flex-wrap:wrap;
}
.projects article {
    padding:10px;
}
article:first-child {
    width:100%;
}
article:not(:first-child) {
    flex:1 0 500px;
}
img {
    width:100%;
    height:auto;
}
article h4 {
    color:coral;
}

/*POSITIONING OF PROJECT TITLE*/


article {
    position: relative;
}
article h4 {
    position:absolute;
    bottom:50px;
}

/*CONTACT*/
.right-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*MEDIA QUERY*/
@media screen and (max-width:768px) {

    section {
        flex-direction: column;
    }
    aside h3 {
        text-align: left;
    }
}
